.footer {
  padding: 55px 0 60px 0;
  background-color: #030303;
  @media (max-width: 1024px) {
    padding: 52px 0 60px 0;
  }
  @media (max-width: 768px) {
    padding: 42px 0 60px 0;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  :last-child {
    align-self: flex-end;
  }
  margin-bottom: 40px;
  @media (max-width: 1024px) {
    align-items: flex-start;
    row-gap: 42px;
    flex-wrap: nowrap;
    margin-bottom: 40px;
  }

  @media (max-width: 930px) {
    align-items: flex-start;
    justify-content: initial;
    justify-content: space-between;
    row-gap: 42px;
    flex-wrap: wrap;
    margin-bottom: 29px;
    justify-content: center;
  }

  @media (max-width: 420px) {
    align-items: center;
    justify-content: center;
    row-gap: 0;
  }
}

.footer-item.footer-logo {
  margin-right: 142px;
  @media (max-width: 1500px) {
    margin-right: 39px;
  }
  @media (max-width: 1024px) {
    margin-right: 39px;
  }
  @media (max-width: 768px) {
    margin-right: 100px;
    display: inline-block;
  }

  @media (max-width: 420px) {
    align-self: flex-start;
    margin: 0 auto 30px auto;
  }
}

.footer-nav__link.footer-menu {
  margin-right: 397px;
  @media (max-width: 1500px) {
    margin-right: 92px;
  }
  @media (max-width: 1024px) {
    margin-right: 92px;
  }
  @media (max-width: 768px) {
    height: 121px;
    margin-top: 15px;
    margin-right: 0;
  }
  @media (max-width: 420px) {
    height: 68px;
  }
}

.footer-nav {
  height: auto;
  column-count: 2;
  column-gap: 155px;
  @media (max-width: 1500px) {
    column-gap: 105px;
  }
  @media (max-width: 1024px) {
    column-gap: 105px;
  }
  @media (max-width: 768px) {
    column-gap: 167px;
    height: 121px;
    flex-wrap: wrap;
  }
  @media (max-width: 420px) {
    column-count: 3;
    column-gap: 20px;
  }
}

.footer-nav__link > * {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 100;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  &:hover {
    color: #9d8665;
  }
  &:active {
    color: #7e6c51;
  }
  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 21px;
  }
  @media (max-width: 420px) {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 768px) {
  .footer-nav__link {
    margin-bottom: 25px;
  }
}

.social-media-list {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 16px 10px;
  @media (max-width: 1024px) {
    margin-bottom: 8px;
  }
  @media (max-width: 420px) {
    margin-left: 0;
  }
}

.social-media__link {
  cursor: pointer;
  display: block;
  border: 1px solid #666666;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-left: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  &:hover {
    filter: invert(53%) sepia(42%) saturate(268%) hue-rotate(356deg) brightness(94%) contrast(93%);
  }
  @media (max-width: 420px) {
    margin-left: 10px;
  }
}

.social-media__link--youtube {
  background-image: url("/assets/social-media/youtube.svg");
}
.social-media__link--instagram {
  background-image: url("/assets/social-media/inst.svg");
}
.social-media__link--facebook {
  background-image: url("/assets/social-media/fb.svg");
}
.social-media__link--twitter {
  background-image: url("/assets/social-media/twit.svg");
}
.social-media__link--pinterest {
  background-image: url("/assets/social-media/pinterest.svg");
}

.footer-line {
  width: 100%;
  height: 3px;
  margin: 25px 0 50px 0;
  background-color: #666666;
  border: none;
  @media (max-width: 768px) {
    height: 1px;
    margin: 25px 0 43px 0;
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  row-gap: 10px;
  column-gap: 20px;
  font-weight: 100;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  @media (max-width: 600px) {
    font-size: 16px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.footer-bottom span > a {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 100;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  &:hover {
    color: #9d8665;
  }
  &:active {
    color: #7e6c51;
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }
}
