.dark_section.header {
  padding: 50px 0;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0;
}

.logo_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFFFFF;
}
.logo_link:hover {
  filter: invert(53%) sepia(42%) saturate(268%) hue-rotate(356deg) brightness(94%) contrast(93%);
  cursor: pointer;
}

.header_link > a {
  text-decoration: none;
  color: #FFFFFF;
}
.header_link > a:hover {
  cursor: pointer;
  color: #9d8665;
}

.logo {
  background-image: url(/img/logo.svg);
  background-repeat: no-repeat;
  width: 49px;
  height: 26px;
  padding-bottom: 8px;
}

.header_navigation {
  display: flex;
}

.logo_title {
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Forum", cursive;
  margin-left: 20px;
}

.header_link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  margin-left: 55px;
}

.dark_section.welcome_container {
  padding-top: 0;
  padding-bottom: 60px;
}

.welcome_wrapper {
  position: relative;
}

.welcome_content {
  padding-top: 150px;
  padding-bottom: 170px;
  z-index: 100;
  position: absolute;
}

.slider_controls {
  margin-left: auto;
}

.slide {
  margin-left: auto;
  position: relative;
}

.title_text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  margin: 26px 0 76px;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
  width: 1000px;
  height: 750px;
}

.slider_controls {
  position: absolute;
  right: 0;
  bottom: -60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  height: 120px;
  background-color: #030303;
  cursor: pointer;
}

.divider {
  padding: 0 5px;
}

.numslides {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  margin-right: 51px;
  margin-left: 75px;
}

.slider_dots {
  display: flex;
}

.slider_dot {
  display: block;
  background-color: #fff;
  border: none;
  width: 16px;
  height: 16px;
  margin-right: 29px;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider_dot.active {
  background-color: #D2B183;
}

.arrowleft {
  padding: 0 11px 0 20px;
}

.image {
  position: relative;
}

.overlayed {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1000px;
  height: 750px;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.visiting_section {
  padding: 75px 0;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card_title {
  text-decoration: none;
  display: block;
  font-family: "Forum", cursive;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
}

.card_hr {
  width: 300px;
  height: 2px;
  margin: 0;
  background-color: #710707;
  border: none;
}

.tour {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  padding: 10px 0 10px;
  display: block;
}

.panorama {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
}

.panorama_padding {
  padding-bottom: 77px;
}

a.card_item:hover {
  cursor: pointer;
}
a.card_item:hover .card_hr {
  width: 440px;
  transition: 1s ease-in-out;
}

.container_2_column {
  display: flex;
  justify-content: space-between;
}

.hr_explore {
  width: 660px;
  height: 3px;
  background-color: #710707;
  border: none;
  margin: 25px 0 75px;
}

.explore_text {
  font-family: "Roboto", sans-serif;
  max-width: 660px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 26px;
}

.golden_text {
  color: #9d8665;
}

.img_explore {
  padding-top: 15px;
}

section.video_section {
  padding-top: 67px;
  height: 1246px;
}

.video_content {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.video_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  padding-right: 30px;
}

.video_container {
  width: 1440px;
  overflow: hidden;
  display: block;
  height: 650px;
  margin: 70px 0 0 0;
  position: relative;
}

#glass {
  margin-top: -160px;
}

.player {
  margin: 0 auto;
}

.videopanel {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 85px;
  margin-top: -1px;
  background-color: #000000;
  cursor: pointer;
}

button,
input {
  cursor: pointer;
  background-color: #030303;
  border: none;
  outline: none;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.largebtn {
  position: absolute;
  width: 220px;
  height: 220px;
  top: calc(50% - 110px);
  left: calc(50% - 110px);
}

.play {
  margin-left: 28px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn_on {
  background-image: url(/btn/play.svg);
}

.video_bar {
  background: #fff;
  height: 8px;
  width: 929px;
  margin-left: 46px;
  outline: none;
  -webkit-appearance: none;
}

.video_bar::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  background: #FFFFFF;
}

.sound {
  margin-left: 48px;
  width: 38px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn_soundon {
  background-image: url(/btn/sound.svg);
}

.sound_bar {
  background: #C4C4C4;
  height: 8px;
  width: 155px;
  margin-left: 50px;
  outline: none;
  -webkit-appearance: none;
}

.sound_bar::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  background: #FFFFFF;
}

.fullsceen {
  margin-left: 47px;
}

/**************SLIDER*************************/
.video_slides {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video_slider_active {
  display: block;
  cursor: pointer;
}

.video_slider_none {
  display: none;
  cursor: pointer;
}

.video_slider_controls {
  margin-top: 40px;
}

.video_slider_navigation {
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.video_navigation__item {
  padding: 0 10px 0 10px;
}

.video_navigation__item_circle {
  display: block;
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #999999;
}

.video_prevslide,
.video_nextslide {
  background-color: #fff;
}

.dark_section.gallery {
  padding: 75px 0 0 0;
}

.gallery_shade {
  display: block;
  position: absolute;
  bottom: 0;
  width: 1440px;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.picture-container {
  margin-top: 75px;
  height: 1985px;
  overflow-y: hidden;
  position: relative;
}

.picture-inner-container {
  column-count: 3;
  justify-content: space-between;
  overflow-y: hidden;
}

.img_gallery {
  width: 456px;
  margin-bottom: 24px;
}
.img_gallery.ledge {
  margin-top: 50px;
}

.contacts_title {
  font-family: "Roboto", sans-serif;
  max-width: 277px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-top: 10px;
  margin-bottom: 36px;
}

.contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 20px;
}

.footer_container {
  display: flex;
  margin-bottom: 40px;
}
.footer_container :last-child {
  align-self: flex-end;
}

.footer_item.footer_logo {
  margin-right: 145px;
}

.footer_item.footer_links {
  margin-right: 388px;
}

.footer_navigation {
  column-count: 2;
  column-gap: 155px;
}

.footer_link {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
}
.footer_link:hover {
  filter: invert(53%) sepia(42%) saturate(268%) hue-rotate(356deg) brightness(94%) contrast(93%);
  cursor: pointer;
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 14px;
}

.social_link {
  display: block;
  border: 1px solid #666666;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-left: 21px;
  background-repeat: no-repeat;
  background-position: center center;
}
.social_link:hover {
  filter: invert(53%) sepia(42%) saturate(268%) hue-rotate(356deg) brightness(94%) contrast(93%);
  cursor: pointer;
}

.youtube {
  background-image: url(/img/social/youtube.svg);
}

.inst {
  background-image: url(/img/social/inst.svg);
}

.fb {
  background-image: url(/img/social/fb.svg);
}

.twit {
  background-image: url(/img/social/twit.svg);
}

.pint {
  background-image: url(/img/social/pintr.svg);
}

.footer_line {
  width: 100%;
  height: 1px;
  margin: 25px 0 40px 0;
  background-color: #666666;
  border: none;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.welcome_button {
  width: 360px;
  height: 75px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  background-color: #710707;
  border: none;
  border-radius: 10px;
}
.welcome_button:hover {
  cursor: pointer;
  background-color: #9d8665;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

body {
  font-family: "Forum", cursive;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

section, .dark_section {
  padding: 75px 0;
  margin: 0;
}

.dark_section {
  background-color: #030303;
  color: #FFFFFF;
}

h2 {
  font-family: "Forum", cursive;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.title_gold {
  color: #9d8665;
}

.full_line {
  width: 1440px;
  height: 3px;
  margin: 40px 0;
  background-color: #710707;
  border: none;
}

.parallax {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background-image: url("/img/parallax.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

/*# sourceMappingURL=style.css.map */
