.explore-section {
  height: auto;
}
.container-2 {
  display: flex;
  //justify-content: space-between;
  column-gap: 20px;
  flex-wrap: nowrap;
  @media (max-width: 1460px) {
    flex-wrap: wrap;
  }
  @media (max-width: 1024px) {
    display: block;
  }
}

.container-2-column {
  display: flex;
  //justify-content: space-between;
  column-gap: 50px;
  flex-wrap: nowrap;
  @media (max-width: 1460px) {
    flex-wrap: wrap;
  }
  @media (max-width: 1024px) {
    display: block;
  }
}
.explore-content {
  margin-bottom: 10px;
}
.explore-content__line {
  width: 660px;
  height: 3px;
  background-color: #710707;
  border: none;
  margin: 25px 0 75px;
  @media (max-width: 1024px) {
    width: 100%;
    margin: 20px 0 63px;
  }
  @media (max-width: 768px) {
    width: 100%;
    margin: 15px 0 20px;
  }
}
.explore-content__text {
  font-family: "Roboto", sans-serif;
  width: 660px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 26px;
  @media (max-width: 1450px) {
    width: 100%;
    text-align: justify;
  }
  @media (max-width: 1024px) {
    font-size: 20px;
    line-height: 35px;
    width: auto;
    margin-bottom: 2px;
  }
  @media (max-width: 600px) {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 2px;
  }
  .explore-content__text--bright {
    color: #caaa7d;
  }
}

.explore-slider {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.explore-slider img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.explore-slider__img--before {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 2;
	width: 50%;
	height: 100%;
}

.explore-slider__control {
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 10;
	width: 3px;
	height: 100%;
	background-color: white;
  cursor: pointer;
}

.explore-slider__control::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	background-color: white;
	transform: translate(-50%, -50%);
}

