.explore-section {
  height: auto;
}
.container-2 {
  display: flex;
  //justify-content: space-between;
  column-gap: 20px;
  flex-wrap: nowrap;
  @media (max-width: 1460px) {
    flex-wrap: wrap;
  }
  @media (max-width: 1024px) {
    display: block;
  }
}

.container-2-column {
  display: flex;
  //justify-content: space-between;
  column-gap: 50px;
  flex-wrap: nowrap;
  @media (max-width: 1460px) {
    flex-wrap: wrap;
  }
  @media (max-width: 1024px) {
    display: block;
  }
}
.explore-content__line {
  width: 660px;
  height: 3px;
  background-color: #710707;
  border: none;
  margin: 25px 0 75px;
  @media (max-width: 1024px) {
    width: 100%;
    margin: 20px 0 63px;
  }
  @media (max-width: 768px) {
    width: 100%;
    margin: 20px 0 38px;
  }
}
.explore-content__text {
  font-family: "Roboto", sans-serif;
  width: 660px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 26px;
  @media (max-width: 1024px) {
    font-size: 20px;
    line-height: 35px;
    width: auto;
    margin-bottom: 2px;
  }
  @media (max-width: 1450px) {
    width: 100%;
  }
  .explore-content__text--bright {
    color: #caaa7d;
  }
}

.explore-slider {
  position: relative;
  width: 720px;
  height: 700px;
  @media (max-width: 1460px) {
    margin: 0 auto;
  }
  margin-bottom: 100px;
  @media (max-width: 768px) {
    width: 400px;
    height: 380px;
  }
}

.explore-slider__img {
  position: absolute;
  overflow: hidden;
  display: block;
  cursor: pointer;
  //max-width: 720px;
  margin: 0 auto;
  top: 0;

  @media (max-width: 768px) {
    width: 400px;
    height: 380px;
  }
  @media (max-width: 450px) {
    width: 300px;
    height: 280px;
  }
}

.explore-slider__img img {
  display: block;
  @media (max-width: 768px) {
    width: 400px;
    height: 380px;
  }
  @media (max-width: 450px) {
    width: 300px;
    height: 280px;
  }
}

.img-comp-slider {
  top: 0;
  bottom: 0;
  left: 340.5px;
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 39px;
  height: 700px;
  background-image: url('/assets/explore-slider/control.svg');
  @media (max-width: 768px) {
    height: 380px;
  }
  @media (max-width: 450px) {
    height: 280px;
  }
}
