.dark_section.header{
    padding: 50px 0 ;
    @media (max-width: 1024px) {
        padding: 48px 0 38px 0;
      }
    @media (max-width: 768px) {
        padding: 55px 0 25px 0;
     
     }
     @media (max-width: 420px) {
        padding: 33px 0 25px 0;
     
     }

}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;

  
}
    
.logo_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    &:hover{ 
    filter: invert(53%) sepia(42%) saturate(268%) hue-rotate(356deg) brightness(94%) contrast(93%);
    cursor: pointer;
    }
}


 

.logo { 
   
    width: 49px;
    height: 26px;
    padding-bottom: 8px;
    @media (max-width: 420px) {
        width: 29px;
        height: 16px;
    
    
    }
}
.header_navigation{
    display: flex;
    justify-content: center;

    
    
}

.header_link{
    @media (max-width: 1024px) {
        display: none;
      }
     

}
.burger{
    display: none;

    @media (max-width: 1024px) {
  
        display: block;
        margin-bottom: 2px;
    
  } 
    @media (max-width: 768px){
        margin-bottom: 10px;
            }
    @media (max-width: 420px) {
        margin-bottom: 0;
             
             }
    
}
 
.logo_title{
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "Forum", cursive;
    margin-left: 25px;
    @media (max-width: 420px) {
        font-size: 16px;
        line-height: 18px;
    
    }
    
}


.header_link  > a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    margin-left: 56px;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    & * :first-child{
        margin-left: 0; 
    }
    &:hover{
        
        color: #9d8665; 
    }
    &:active{
        
        color: #7E6C51;
    }
    @media (max-width: 1550px) {
        margin-left: 40px;
    
    }
}