.dark_section.welcome_container{
padding-top: 0;
padding-bottom: 67px;
border: none;
@media (max-width: 768px) {
   padding: 0 0 100px 0;

}
@media (max-width: 420px) {
    padding: 14px 0 80px 0;
 
 }
}

.welcome_wrapper{
    position: relative;
    
}
.welcome_content{
  -webkit-user-select: none;
    padding: 150px 0 170px 0;
    z-index: 50;
    position: absolute;
    @media (max-width: 1024px) {
        padding: 50px 0 0 0;
      }
      @media (max-width: 768px) {
        position: relative;
        padding: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    
    }


}

.welcome_invisible{
  display: none;
}

.slider_controls{
    margin-left: auto;
}
.slide{
  margin-left: auto;
    position: relative;
   
  
    

  }




.title_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    margin: 25px 0 74px;
    @media (max-width: 1024px) {
        font-size: 24px;
        line-height: 28px;
        margin: 25px 0 50px;
      }
      @media (max-width: 768px) {
        
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 2px;
        margin: 23px 0 50px;

     }
     @media (max-width: 420px) {
        font-size: 16px;
        line-height: 19px;
     
     }
     

}
.slide{
    display: none; 
    position: relative;

    
}
.slide.active{
    display: block;
    border: none;
    margin-left: auto;
   
  
    @media (max-width: 1024px) {
        width: 70%;
        height: 70%;
      }
      @media (max-width: 768px) {
        width: 100%;
        height:100%;
        

     
     }
    
}
.slider_controls{
    position: absolute;
    right: 0;
    bottom: -60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    height: 120px;
    background-color: #030303;
    cursor: pointer;
    @media (max-width: 1024px) {
        width: 700px;
        height: 120px;
        bottom: -67px;
        right: 0;
        justify-content: flex-end;
      }
      @media (max-width: 768px) {
        width: 100%;
        height: 100px;
        right: 0;
        left: 0;
        bottom: -99px;
  
       }
       @media (max-width: 420px) {
        width: 230px;
        height: 40px;
        justify-content: center;
        bottom: -60px;

       }
}
.divider{
    padding: 0 5px;
}
.numslides{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    margin: 0 55px 0 75px;
    @media (max-width: 1024px) {
        font-size: 20px;
        margin: 0 45px 0 75px;
    
      }
      @media (max-width: 420px) {
        margin: 0;
        font-size: 16px;
        height: 40px;
        display: flex;
        flex-direction: row;
        margin-right: 25px;
     
       }

}
.slider_dots{
    display: flex;
    margin-bottom: 2px;
    @media (max-width: 1024px) {
      margin-bottom: 0;
    }
}
.slider_dot{
    display: block;
    background-color: #fff;
    border: none;
    width: 16px;
    height: 16px;
    margin-right: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    &:hover{ 
        background-color:  #9D8665;
  
    }
    @media (max-width: 1024px) {
       
        width: 12px;
        height: 12px;
    
      }
      @media (max-width: 420px) {
        width: 7px;
        height: 7px;
        margin-right: 10px;
       }
    
}
.slider_dot.active{
    background-color: #D2B183;
}

.arrowleft{
    padding: 0 18px 0 35px;
    margin-bottom: 3px;  
    @media (max-width: 1024px) {
        padding: 0 18px 0 21px;
      }
      @media (max-width: 768px) {
        padding: 0 18px 0 19px;
      }
      @media (max-width: 420px) {
        width: 20px;
        height: 8px;
        margin-right: 15px;
        
       }

      
}

.arrowright{
    margin-bottom: 3px; 
    @media (max-width: 1024px) {
        margin-right: 75px; 
      }
      @media (max-width: 768px) {
        margin-right: 165px;
     
     }
     @media (max-width: 420px) {
      width: 20px;
      height: 8px;
      margin-right: 149px;
      
     }
}
.filter-golden:hover{
    filter: invert(53%) sepia(42%) saturate(268%) hue-rotate(356deg) brightness(94%) contrast(93%);
}

.filter-golden{
  @media (max-width: 420px) {
    width: 20px;
    height: 8px;
    margin-bottom: 4px;
   }

}

///GRAADIENT


.slides{
 
  position: relative;
  width: 1000px;
  overflow: hidden;
  margin-left: auto;
}
.slide.active{
    position:relative;
    -webkit-user-select: none;
  
    
  
  }
  .overlayed{
  display:block;
  position:absolute;
  top:0;
  right:0;
  width: 1000px;
    height: 750px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
    @media (max-width: 1024px) {
        width: 70%;
        height: 100%;
      }
      @media (max-width: 768px) {
      display: none;
        

     
     }
  
  }

  ////////////ANIMATION//////////////////
  .active,
  .next {
    display: block;
    animation: 0.3s ease-in-out;
  }


  .next {
    
      position: absolute;
      top: 0;
      width: 100%;
    
    
  }
  
  .to-left {
    animation-name: left;
  }
  
  .from-right {
    animation-name: right;
  }
  
  .to-right {
    animation-name: right;
    animation-direction: reverse;
  }
  
  .from-left {
    animation-name: left;
    animation-direction: reverse;
  }
  
  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }