section.video_section{
    padding-top: 75px;
    height: auto;
    @media (max-width: 1024px) {
      padding-top: 60px;
      padding-bottom: 57px;
  
}
  @media (max-width: 768px) {
  padding-top: 40px;
  padding-bottom: 75px;

}
}
.video_content{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
  
}
.video.active{
  width: 100%;
}
.video_text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    padding-right: 30px;
    @media (max-width: 1024px) {
     display: none;
  
}

}

.video_container{
    width: 100%;
    overflow:hidden;
    display:block;
    height: 650px;
    margin: 75px 0 0 0;
    position: relative;
    @media (max-width: 1024px) {
      margin: 40px 0 0 0;

      height: 444px;
   
 }
 @media (max-width: 768px) {
  margin: 20px 0 0 0;
 
  height: 329px;

}
    
}
#glass{
  margin-bottom: -80px;
  margin-top: -80px;
 
}

.player{
  margin: 0 auto;
}




.videopanel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 85px;
  margin-top: -1px;
  background-color: #000000;
  cursor: pointer;
  @media (max-width: 1024px) {
    height: 60px;
}
@media (max-width: 768px) {

  height: 58px;
}
}

iframe {


  border: none;
  @media (max-width: 1024px) {
    width: 300px;
    height: 170px;
      
 
}
@media (max-width: 768px) {
  width: 354px;
  height: 199px;
}
}


button,
input {
  cursor: pointer;
  background-color: #030303;
  border: none;
  outline: none;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
-webkit-tap-highlight-color: transparent;
}


.largebtn{
 
  position: absolute;
  width: 220px;
height: 220px;
top: calc(50% - 110px);
left: calc(50% - 110px);
*:hover{
  filter: invert(53%) sepia(42%) saturate(268%) hue-rotate(356deg) brightness(94%) contrast(93%);
}
@media (max-width: 1024px) {
  width: 152px;
  height: 152px;
  top: calc(50% - 76px);
left: calc(50% - 76px);

}

}

.play{
margin-left: 28px;
width: 23px;
height: 30px;
background-repeat: no-repeat;
background-position: center center;


}
.btn_on{
background-image: url(/btn/play.svg);
}




.video_bar {
  background:  linear-gradient(to right, #710707 0%, #710707 53.5%, #C4C4C4 53.5%, #C4C4C4 100%);
  height: 8px;
  width: 929px;
  margin-left: 46px;
  outline: none;
  -webkit-appearance: none;
}

.video_bar::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  background: #FFFFFF;
}

.sound{
  margin-left: 48px;
  width: 38px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn_soundon{
  background-image: url(/btn/volume.svg);

} 


.sound_bar {
  background:  linear-gradient(to right, #710707 0%, #710707 43.2%, #C4C4C4 43.2%, #C4C4C4 100%);
  height: 8px;
  width: 155px;
  margin-left: 50px;
  outline: none;
  -webkit-appearance: none;
}

.sound_bar::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  background: #FFFFFF;
}

.fullsceen{
  margin-left: 47px;
  @media (max-width: 1024px) {
    
    margin: 0 10px 0 47px;
   
   }
}
  

.fullsceen_btn{
  @media (max-width: 1024px) {
    width: 26px;
    height: 26px;
    margin: 0 30px 0 0;
   
   }
}
/**************SLIDER*************************/
.video_slides{
    margin-top: 40px;
    height: 254px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1550px) {
  
     
      overflow-y: hidden;
    overflow-x: hidden;
   
  }
    @media (max-width: 1024px) {
  
      height: 170px;
      overflow-y: hidden;
    overflow-x: hidden;
   
  }
  @media (max-width: 768px) {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 20px 0 0 0 ;
    height: 199px;
    
   
  
  }
  }
  
  .video_slider_active{
    height: 254px;
    display: block;
    cursor: pointer;
    @media (max-width: 1024px) {
      height: 170px;
  }
  @media (max-width: 768px) {
    width: 354px;
    height: 199px;
}
    
  }
  .video_slider_none{
    display: none;
    cursor: pointer;
  }
  
  
  
  .video_slider_controls{
    margin-top: 37px;
    @media (max-width: 768px) {
      margin-top: 17px;
  }
    
  }
  .video_slider_navigation{
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }
  
  .video_navigation__item{
    padding: 0 10px 0 10px;
  }
  .video_navigation__item_circle{
    display: block;
    border: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color:  #999999;
    &:hover{ 
      background-color: #710707;

  }
  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
}
  }

  .video_navigation__item_circle.active{
    background-color: #333333;
   
  }
  
  .video_prevslide,
  .video_nextslide{
    background-color: #fff;
  
  }



  /******************************************/
  .video.active {
    cursor: pointer;
  }
.largebtn_none{
  display: none;
}

  .btn_pause{
    background-image: url(/btn/pause.svg);
  }
  .btn_soundoff{
    background-image: url(/btn/mute.svg);
  }




