.dark_section.gallery{
    padding: 75px 0 0 0;
    @media (max-width: 1024px) {
        padding: 60px 0 0 0;
    
  }

}
.gallery_shade{
    display:block;
    position:absolute;
    bottom:0;
    width: 1440px;
    height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    @media (max-width: 1024px) {
        width: 1001px;
        height: 239px;
    
    }

}

.picture-container{
    margin-top: 75px;
    height: 1960px;
    overflow-y: hidden;
    overflow-x: hidden;
    position:relative;
    @media (max-width: 1024px) {
        margin-top: 60px;
        height: 1265px;
    
  }

}




.picture-inner-container{
  column-count: 3;
  column-gap: 36px;
  height: 3000px;
  @media (max-width: 1024px) {
    height: 2100px;

}
  
  
  
 
 
 
}
.img_gallery{
    width: 456px;
    margin-bottom: 20px;
    &:first-child{margin-top: 50px;

    }
    &:nth-child(11){margin-top: 50px;

    }
    @media (max-width: 1024px) {
        width: 304px;
    
  }
    
    
    
    
}
