.contacts_title{
    font-family: 'Roboto', sans-serif;
    max-width: 277px;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    margin-bottom: 50px;

}
.contacts{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 25px;
    & > a {
        &:hover{ 
            color: #9D8665;
        }
        &:active{
        
            color: #7E6C51;
        }
        
    }
  
}


