.tickets-section__content {
  display: flex;
  height: 550px;
  @media (max-width: 1024px) {
    height: auto;
  }
  @media (max-width: 768px) {
    justify-content: space-between;
  }
  @media (max-width: 420px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.tickets-section__img {
  margin-right: 60px;
   @media (max-width: 1024px) {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    width: 444px;
  }
  @media (max-width: 420px) {
    width: 380px;
  } 
}

.ticket-type {
  width: 270px;
  @media (max-width: 1024px) {
    display: none;
  }
}
.radiowrapper h4 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
}

.ticket-type__title {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
  margin-bottom: 50px;
}

.ticket-type__options {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

label {
  color: #000;
  height: 26px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  cursor: pointer;
}

.ticket-type__option {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 23px;
  margin-bottom: 25px;
}
.ticket-type__option input {
  display: none;
}
.ticket-type__option span {
  position: relative;
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #000000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-type__option input:checked + span::before {
  content: "";
  position: absolute;
  background: #000;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

/*AMOUNT*****************************/

input {
  cursor: pointer;
  background-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ticket-amount {
  margin-left: 238px;

  @media (max-width: 1600px) {
    margin-left: 80px;
  }
  @media (max-width: 1024px) {
    margin-left: 80px;
  }
  @media (max-width: 768px) {
    margin-left: 60px;
  }
  @media (max-width: 420px) {
    margin: 40px 0 0 0;
  }
}

.ticket-amount__title {
  color: #000;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 33px;
  margin-bottom: 22px;
  @media (max-width: 1024px) {
    margin-bottom: 26px;
  }
  @media (max-width: 768px) {
    margin-bottom: 34px;
  }
  @media (max-width: 420px) {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 21px;
  }
}

.ticket-amount__age {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 33px;
  margin-left: 25px;
  margin-bottom: 10px;
  @media (max-width: 1024px) {
    margin-left: 0;
    margin-bottom: 6px;
  }
  @media (max-width: 420px) {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 14px;
  }
}

.ticket-amount__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #000;
  width: 150px;
  height: 51px;
  margin-left: auto;
  margin-bottom: 7px;
  box-sizing: border-box;
  @media (max-width: 1024px) {
    margin: 0 0 25px 0;
    width: 175px;
  }
  @media (max-width: 768px) {
    margin: 0 0 22px 0;
  }
}
.btnplus {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #000;
  text-align: center;
  width: 18px;
  height: 38px;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  padding-left: 11px;
  padding-right: 29px;
  @media (max-width: 768px) {
    padding-left: 14px;
    padding-right: 34px;
  }
}

.number {
  width: 50px;
  height: 30px;
  font-weight: 100;
  text-align: center;
  font-size: 22px;
  color: #000;
  line-height: 26px;
  vertical-align: middle;

  @media (max-width: 1024px) {
    margin-left: 0;
  }
}

.ticket-amount__total {
  margin: 42px 0 60px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: right;
  color: #000;
  @media (max-width: 1024px) {
    margin: 0 0 69px 0;
  }
  @media (max-width: 768px) {
    margin: 15px 0 40px 0;
  }
  @media (max-width: 420px) {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

.ticket-amount__button {
  background-color: #000;
  border-radius: 2px;
  width: 175px;
  height: 50px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  line-height: 26px;
  letter-spacing: 2px;
  transition: 0.5s ease-out;
  padding-left: 3px;
  &:hover {
    background-color: #9d8665;
    color: #000000;
  }
  @media (max-width: 420px) {
    font-size: 16px;
  }
  }