.dark-section.gallery {
  padding: 75px 0 0 0;
  @media (max-width: 1024px) {
    padding: 60px 0 0 0;
  }
  @media (max-width: 768px) {
    padding: 40px 0 0 0;
  }
}
.gallery-shade {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 360px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  @media (max-width: 1024px) {
    width: 100%;
    height: 239px;
  }
}

.picture-container {
  margin-top: 75px;
  height: 1960px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  @media (max-width: 1024px) {
    margin-top: 60px;
    height: 1265px;
  }
  @media (max-width: 768px) {
    margin-top: 40px;
    height: 1080px;
  }
  @media (max-width: 420px) {
    margin-top: 40px;
    height: 637px;
  }
}

.picture-inner-container {
  column-count: 3;
  column-width: 33.3%;
  column-gap: 36px;
  height: 3000px;

  @media (max-width: 1024px) {
    height: 2100px;
  }
  @media (max-width: 768px) {
    column-count: 2;
    column-gap: 24px;
    height: 3000px;
  }
}

.img_gallery {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  transform: translate(0px, 120%) scale(0);
  opacity: 0;
  transition: all 1s ease 0s;

  &:first-child {
    margin-top: 50px;
  }
  &:nth-child(11) {
    margin-top: 50px;
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
  @media (max-width: 768px) {
    width: 100%;

    &:nth-child(11) {
      margin-top: 0;
    }
  }
}

.img_gallery.animate {
  transform: translate(0px, 0px) scale(1);
  opacity: 1;
}
