section.video-section {
  padding: 100px 0 100px 0;
  height: auto;
  @media (max-width: 1024px) {
    padding-top: 60px;
    padding-bottom: 57px;
  }
  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 75px;
  }
}
.video-description {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.player__video {
  width: 100%;
  height: 650px;
  object-fit: cover;
  cursor: pointer;

  @media (max-width: 1024px) {
    margin: 40px 0 0 0;
    height: 444px;
  }
  @media (max-width: 768px) {
    margin: 20px 0 0 0;
    height: 329px;
    object-fit: cover;
  }
  &.fullscreen {
    width: 100%;
    height: calc(100% - 85px);
    margin: 0;
  }
}
.video-description__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  padding-right: 30px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.player {
  overflow: hidden;
  display: block;
  margin: 75px 0 0 0;
  position: relative;
  &.fullscreen {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 1024px){
    margin: 0;
  }
}
.controls {
  display: flex;
  align-items: center;
  width: 100%;
  height: 85px;
  margin-top: -4px;
  background-color: #000000;
  cursor: pointer;
  @media (max-width: 1024px) {
    height: 60px;
  }
  @media (max-width: 768px) {
    height: 58px;
  }
  &.fullscreen {
    justify-content: space-between;

    > .controls__video-bar {
      width: 1400px;
    }
  }
}

button,
input {
  cursor: pointer;
  background-color: #030303;
  border: none;
  outline: none;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.player__btn {
  background-color: transparent;
  position: absolute;
  width: 220px;
  height: 220px;
  top: calc(50% - 110px);
  left: calc(50% - 110px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url("/assets/video-section/buttons/largebtn.svg");
  &.player__btn_none {
    display: none;
  }
  *:hover {
    filter: invert(53%) sepia(42%) saturate(268%) hue-rotate(356deg) brightness(94%) contrast(93%);
  }

}

.controls__btn-play {
  margin-left: 28px;
  width: 23px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url("/assets/video-section/buttons/play.svg");
  &.controls__btn-pause {
    background-image: url("/assets/video-section/buttons/pause.svg");
  }
}

.controls__video-bar {
  background: linear-gradient(to right, #710707 0%, #710707 0%, #c4c4c4 0%, #c4c4c4 100%);
  height: 8px;
  width: 100%;
  margin-left: 46px;
  outline: none;
  -webkit-appearance: none;
  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: #ffffff;
  }
}

.controls__sound-btn {
  margin-left: 48px;
  width: 38px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url("/assets/video-section/buttons/volume.svg");
  &.controls__sound-btn_off {
    background-image: url("/assets/video-section/buttons/mute.svg");
  }
}

.controls__sound-bar {
  background: linear-gradient(to right, #710707 0%, #710707 20%, #c4c4c4 20%, #c4c4c4 100%);
  height: 8px;
  width: 155px;
  margin-left: 50px;
  outline: none;
  -webkit-appearance: none;
  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: #ffffff;
  }
}
.controls__fullscreen-btn {
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url("/assets/video-section/buttons/fullscr.svg");
  margin: 0 23px 0 50px;
  margin-left: 47px;
  @media (max-width: 1024px) {
    margin: 0 10px 0 47px;
  }
}
