
.video_slides {
  margin-top: 40px;
  height: 254px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1550px) {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  @media (max-width: 1024px) {
    height: 170px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  @media (max-width: 768px) {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 20px 0 0 0;
    height: 199px;
  }
}

.video_slide._active {
  height: 254px;
  display: block;
  cursor: pointer;
  @media (max-width: 1024px) {
    height: 170px;
  }
  @media (max-width: 768px) {
    width: 354px;
    height: 199px;
  }
}
.video_slide {
  display: none;
  cursor: pointer;
}

.video_slider_controls {
  margin-top: 37px;
  @media (max-width: 768px) {
    margin-top: 17px;
  }
}
.video_slider_navigation {
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.video_navigation__item {
  padding: 0 10px 0 10px;
}
.video_navigation__item_circle {
  display: block;
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #999999;
  &:hover {
    background-color: #710707;
  }
  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
  }
}

.video_navigation__item_circle.active {
  background-color: #333333;
}

.video_prevslide,
.video_nextslide {
  background-color: #fff;
}

/******************************************/
.video.active {
  cursor: pointer;
}
.largebtn_none {
  display: none;
}

.btn_pause {
  background-image: url(/assets/video-section/buttons/pause.svg);
}
.btn_soundoff {
  background-image: url(/assets/video-section/buttons/mute.svg);
}
