section.video-section {
  padding-top: 75px;
  height: auto;
  @media (max-width: 1024px) {
    padding-top: 60px;
    padding-bottom: 57px;
  }
  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 75px;
  }
}
.video-description {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.video.active._fullscreen {
  height: 100%;
  margin: 0;
}

.video.active {
  object-fit: cover;
  width: 100%;

  @media (max-width: 1024px) {
    margin: 40px 0 0 0;
    height: 444px;
  }
  @media (max-width: 768px) {
    margin: 20px 0 0 0;
    height: 329px;
    object-fit: cover;
  }
}
.video-description__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  padding-right: 30px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.video_container {
  overflow: hidden;
  display: block;
  margin: 75px 0 0 0;
  position: relative;
}
.video_container._fullscreen {
  height: calc(100% - 85px);
}

.player {
  margin: 0 auto;
}

.player._fullscreen {
  display: flex;
  flex-direction: column;
}
.videopanel._fullscreen {
  height: 85px;
  justify-content: space-between;
  > .video_bar {
    width: 1400px;
  }
  > .fullsceen {
    padding-right: 28px;
  }
}

.videopanel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 85px;
  margin-top: -4px;
  background-color: #000000;
  cursor: pointer;
  @media (max-width: 1024px) {
    height: 60px;
  }
  @media (max-width: 768px) {
    height: 58px;
  }
}

iframe {
  border: none;
  @media (max-width: 1024px) {
    width: 300px;
    height: 170px;
  }
  @media (max-width: 768px) {
    width: 354px;
    height: 199px;
  }
}

button,
input {
  cursor: pointer;
  background-color: #030303;
  border: none;
  outline: none;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

.largebtn {
  position: absolute;
  width: 220px;
  height: 220px;
  top: calc(50% - 110px);
  left: calc(50% - 110px);
  *:hover {
    filter: invert(53%) sepia(42%) saturate(268%) hue-rotate(356deg) brightness(94%) contrast(93%);
  }
  @media (max-width: 1024px) {
    width: 152px;
    height: 152px;
    top: calc(50% - 76px);
    left: calc(50% - 76px);
  }
}

.play {
  margin-left: 28px;
  width: 23px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn_on {
  background-image: url(/assets/video-section/buttons/play.svg);
}

.video_bar {
  background: linear-gradient(to right, #710707 0%, #710707 0%, #c4c4c4 0%, #c4c4c4 100%);
  height: 8px;
  width: 929px;
  margin-left: 46px;
  outline: none;
  -webkit-appearance: none;
}

.video_bar::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  background: #ffffff;
}

.sound {
  margin-left: 48px;
  width: 38px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn_soundon {
  background-image: url(/assets/video-section/buttons/volume.svg);
}

.sound_bar {
  background: linear-gradient(to right, #710707 0%, #710707 20%, #c4c4c4 20%, #c4c4c4 100%);
  height: 8px;
  width: 155px;
  margin-left: 50px;
  outline: none;
  -webkit-appearance: none;
}

.sound_bar::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  background: #ffffff;
}

.fullsceen {
  margin-left: 47px;
  @media (max-width: 1024px) {
    margin: 0 10px 0 47px;
  }
}

.fullsceen_btn {
  @media (max-width: 1024px) {
    width: 26px;
    height: 26px;
    margin: 0 30px 0 0;
  }
}
